################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/jeopardy/packages/angularjs.1.7.8.1
